  <!-- Begin page content -->
  <main class="container">
    <div class="row">
      <div class="col-sm-12 mt-3 typewriter">
        <h1>Biography</h1>
        <hr>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-xl-9 col-lg-8 col-md-9 col-sm-10">
        <img class="img-fluid rounded-circle float-left pr-3" src="/assets/images/sstevevs1.jpg" alt="Sue J. Stevens Portfolio Image"
          id="aboutImg">
        <p>I am a life-long learner and Full Stack Application Developer. I specialize in solving business work-flow
          problems through the UI experience, report design and thoughtful back-end database development. I'm detail
          oriented. My passion and goals in business are to provide meaningful, useful, timely information to
          management and business users. The most common report issues stem from inaccurate data so I focus on solving
          the data-entry pain points to minimize the struggle of obtaining timely accurate data.</p>
        <p>Before moving into the IT field, I held positions in finance, accounting and business intelligence. Because
          of my business experience I often fulfill the role of liaison between business and technical departments. My
          strong analytical and detail oriented nature are skills that combine well with technology to help business
          owners and department managers maximize efficiency.</p>
        <p>Currently enrolled in UCSD web-development boot camp course to learn the MEAN stack and improve existing
          technical skills. I develop in WINS (Windows Server, IIS Web Server, SQL Server, and PHP) stack environment
          for my current employer.</p>
        <p>When I'm not learning a new coding language, I like to spend time with my two dogs, two cats and one
          husband. I enjoy the arts, our local zoo and sharing the many tourist attractions that can be found
          throughout San Diego with family and friends.</p>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-3 col-sm-2 d-none d-sm-block">
        <div class="row">
          <div class="col-12">
            <a href="https://www.linkedin.com/in/suejstevens/" class="btn text-center azm-social azm-size-48 azm-circle azm-long-shadow azm-linkedin"><i
                class="fab fa-linkedin"></i></a>
            <span class="d-none d-lg-inline">Find Me on LinkedIn!</span>
            <span class="d-none d-lg-none d-md-inline">Find Me!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="https://github.com/SueJStevens" class="btn text-center azm-social azm-size-48 azm-circle azm-long-shadow azm-github"><i
                class="fab fa-github"></i></a>
            <span class="d-none d-lg-inline">Git My Projects!</span>
            <span class="d-none d-lg-none d-md-inline">Git Me!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="#" class="btn text-center azm-social azm-size-48 azm-circle azm-long-shadow azm-codepen"><i class="fab fa-codepen"></i></a>
            <span class="d-none d-lg-inline">See My Pens!</span>
            <span class="d-none d-lg-none d-md-inline">My Pens!</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <a href="mailto:StevensStock@gmail.com?Subject=Your%20Portfolio&Body=I%20found%20your%20portfolio%20on%20Github%20and%20would%20like%20to%20talk%20to%20you."class="btn text-center azm-social azm-size-48 azm-circle azm-long-shadow azm-email-1"><i class="fas fa-at"></i></i></a>
            <span class="d-none d-lg-inline">Email!</span>
            <span class="d-none d-lg-none d-md-inline">Email!</span>
          </div>
        </div>


      </div>
    </div>

  </main>
