  <!-- Begin page content -->
  <main role="main">

    <div class="container-fluid">
      <div class="row">
        <!--Left card-->

        <div class="p-0 m-0 col-4 card-container">
          <div class="card border-0 p-0">
            <div class="card-block">
              <img id="contact-img" class="img-fluid card-img contact-img" src="/assets/images/mikaela-wiedenhoff-693940-unsplash_150x200.jpg" alt="Card image">
              <div class="card-img-overlay w-100 p-0 d-flex border border-white">
                <div class="mt-0 ml-auto justify-content-end text-left">
                  <h1 class="card-title mycontact-cardtitle"><small>Sue J. Stevens</small></h1>
                  <h3 class="card-subtitle mycontact-cardsubtitle"><small>1857 Pentas Court</small></h3>
                  <h3 class="card-subtitle mycontact-cardsubtitle"><small>Carlsbad CA 92011</small></h3>
                  <h4 class="card-text mycontact-cardsubtitle mt-2"><small>760-402-0898</small></h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-0 m-0 col-8">
          <div class="card mb-4 border-0">
            <form id="form_optIn_add" name="form_optIn_add" autocomplete="nope">

              <div class="mx-5 typewriter">
                <h3>Send Email</h3>
                <hr>
              </div>
              
              <div class="container-fluid">
                <div class="card mx-1 my-1 border-0">
                  <div class="card-body">

                    <div class="form-row">
                      <div class="form-group form-label-group col-md-9">
                        <input type="email" id="email" name="email" class="form-control outline-secondary" placeholder="Email address"
                          autocomplete="email" required autofocus>
                        <label for="email">Your Email Address</label>
                      </div>

                      <div class="form-group form-label-group col-md-3">
                        <input type="text" class="form-control" name="phone" id="phone" maxlength="14" placeholder="(xxx) xxx-xxxx"
                          required>
                        <label for="phone">Phone</label>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group form-label-group col-md-6">
                        <input type="text" id="firstname" name="firstname" class="form-control outline-secondary"
                          placeholder="First Name" autocomplete="firstname" required autofocus>
                        <label for="firstname">First Name</label>
                      </div>

                      <div class="form-group form-label-group col-md-6">
                        <input type="text" id="lastname" name="lastname" class="form-control outline-secondary"
                          placeholder="Last Name" autocomplete="lastname" required autofocus>
                        <label for="lastname">Last Name</label>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group form-label-group col-md-12">
                        <input type="text" id="organization" name="organization" class="form-control outline-secondary"
                          placeholder="Organization" autocomplete="organization" required autofocus>
                        <label for="organization">Organization</label>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group form-label-group col-md-8">
                        <input type="text" id="address1" name="address1" class="form-control outline-secondary"
                          placeholder="Address 1" autocomplete="address1" required autofocus>
                        <label for="address1">Address 1</label>
                      </div>

                      <div class="form-group form-label-group col-md-4">
                        <input type="text" id="address2" name="address2" class="form-control outline-secondary"
                          placeholder="Address 2" autocomplete="address2" required autofocus>
                        <label for="address2">Address 2</label>
                      </div>
                    </div>

                    <div class="form-row">
                      <div class="form-group form-label-group col-md-6">
                        <input type="text" id="city" name="city" class="form-control outline-secondary" placeholder="City"
                          autocomplete="city" required autofocus>
                        <label for="city">City</label>
                      </div>

                      <div class="form-group form-label-group col-md-3">
                        <input type="text" id="postalcode" name="postalcode" class="form-control outline-secondary"
                          placeholder="State" autocomplete="state" required autofocus>
                        <label for="postalcode">State</label>
                      </div>

                      <div class="form-group form-label-group col-md-3">
                        <input type="text" id="zip" name="zip" class="form-control outline-secondary" placeholder="zip"
                          autocomplete="zip" required autofocus>
                        <label for="zip">Zip</label>
                      </div>
                    </div>

                    <div class="custom-control custom-checkbox mx-2">
                      <input type="checkbox" class="custom-control-input" name="optinchk" id="optinchk">
                      <label class="custom-control-label" for="optinchk">Yes! Sign Me Up!</label>
                      <br><small>(Checking this box will add your information to our database)</small>
                    </div>


                  </div>
                </div>
              </div>

              <!--Button Group-->
              <div class="card-footer border-0 bg-transparent">
                <div class="btnContainer d-flex mx-5">
                  <div>
                    <button type="submit" id="send" class="btn btn-outline-dark" name="send">
                      Send!
                    </button>
                  </div>
                  <div class="ml-auto">
                    <a href="/cancel" id="cancel" class="btn btn-outline-dark text-dark">Cancel</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

  </main>
