/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

#footer {
  padding-bottom: 30px;
  background-color: transparent;
  border-top-color: #174A8C;
  border-top-style: solid;
  border-top-width: 0.5px;
}

.footer {
  background-color: transparent;
  border-top-color: #174A8C;
  border-top-style: solid;
  border-top-width: 0.5px;
}
