/*Custom css needed to overwrite Bootstrap css, specific to the 'About Me' section of contact.html'*/
:root {
    --jumbotron-padding-y: 3rem;
  }
  
  .jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
  }
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: calc(var(--jumbotron-padding-y) * 2);
      padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron-heading {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

  /* formatting credit caption (credit to photographer for images) */
.caption {
  font-family: 'IM Fell Great Primer', serif !important;
  color: #d2dff1 !important;
  font-size: 0.75rem;
  line-height: 1.0;
}

.caption-container {
  transform: rotate(90deg);
}

/*sizing the portfolio images container*/
.portfolio-thumbs {
  height: 275px;
}
 .card-img-overlay {
   pointer-events: none;
 }

 .portfolio-link:visited {
  text-decoration: none;
  color: #1F2936;
}

.portfolio-title {
  font-size: 1.25rem;
  font-weight: 300;
}
.portfolio-link {
  color: #1F2936!important;
  font-weight: 300;
}