

  /* formatting credit caption (credit to photographer for images) */
.caption {
  font-family: 'IM Fell Great Primer', serif !important;
  color: #d2dff1 !important;
  font-size: 0.75rem;
  line-height: 1.0;
}

.caption-container {
  -webkit-transform: rotate(90deg);
  -webkit-transform-origin: left top;
  -moz-transform: rotate(90deg);
  -moz-transform-origin: left top;
  -ms-transform: rotate(90deg);
  -ms-transform-origin: left top;
  -o-transform: rotate(90deg);
  -o-transform-origin: left top;
  transform: rotate(90deg);
  transform-origin: left top;

  position: absolute;
  width: 275px; /*same as image container height*/
  top: -10px;
  left: 100%;
  white-space: nowrap;    
}

/*sizing the portfolio images container*/
.portfolio-thumbs {
  height: 275px;
}
 .card-img-overlay {
   pointer-events: none;
 }

 .portfolio-link:visited {
  text-decoration: none;
  color: #1F2936;
}

.portfolio-title {
  font-size: 1.25rem;
  font-weight: 300;
}
.portfolio-link {
  color: #1F2936!important;
  font-weight: 300;
}